.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.modal-header, .modal-footer, .modal-body{
    padding: 15px;
}
.modal-header{
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: rgb(79, 58, 183);
}
.modal-footer{
    display: inline-flex;
}
.modal-content{
    width: 50%;
    background-color: rgb(245, 245, 245);
}
label{
    display: inline-block;
    width: 30%;
}
input[type="text"]{
    margin: 10px;
    width: 40%;
    background-color: white;
}
.actionButton{
    text-align: center;
    justify-content: center;
}